<div style="width:80%;margin:auto">
	<div id="newComment">
		<h4>Leave a Reply</h4>
		<label for="commentAuthor" style="display: block; width: 100%; text-align: left;">Your name</label>
		<input type="text"  id="commentAuthor"  style="display: block; width: 100%;">
		<label for="commentContent" style="display: block; width: 100%; text-align: left;">Your Message</label>
		<textarea id="commentContent" style="display: block; width: 100%;"></textarea>
		<button id="commentSubmit" event="create" class="action btn-btn-default">Reply</button>
	</div>
	<h4>Other Comments</h4>
	<div id="commentList"></div>
</div>
