<div style="width:80%;margin:auto">
	<div id="post"></div>
	<center><h4><a href="http://localhost:8080/#/blog/">Back to Post overview</a></h4></center>
	<div id="newPost">
		<h4>Create a new Post</h4>
		<label for="postAuthor" style="display: block; width: 100%; text-align: left;">Your Name</label>
		<input type="text"  id="postAuthor"  style="display: block; width: 100%;">
		<label for="postTitle" style="display: block; width: 100%; text-align: left;">Choose a fitting Title</label>
		<input type="text"  id="postTitle"  style="display: block; width: 100%;">
		<label for="postContent" style="display: block; width: 100%; text-align: left;">Write your Article</label>
		<textarea id="postContent" style="display: block; width: 100%;"></textarea>
		<button id="postSubmit" event="create" class="action btn-btn-default">Reply</button>
	</div>
</div>
