<div id="container" style="width:80%;margin:auto">
	<table width="100%">
		<tr>
			<!-- Menu -->
			<td id="menu" width="30%">
				<table width="100%">
					<tr>
						<td>Enter a name for the graph</td>
						<td><input id="name" type="text" style="display: block; width: 100%;"></td>
					</tr>
					<tr>
						<td>Enter the points for a line to draw:</td>
						<td><textarea id="line" style="display: block; width: 100%;"></textarea></td>
					</tr>
					<tr>
						<td>Enter the width of the line</td>
						<td><input id="width" type="number" min="1" max="10" style="display: block; width: 100%;"></td>
					</tr>
					<tr>
						<td>Select a color for the line</td>
						<td>
							<select id="color" style="display: block; width: 100%;">
								<option value="black">black</option>
								<option value="green">green</option>
								<option value="red">red</option>
								<option value="blue">blue</option>
							</select>
						</td>
					</tr>
					<tr>
						<td></td>
						<td><button id="draw" class="btn btn-default" style="display: block; width: 100%;">Draw Graph</button></td>
					</tr>
				</table>
			</td>
			<!-- Program Output -->
			<td>
				<canvas id="graph">
				</canvas>
			</td>
		</tr>
	</table>
</div>