<table style="width:80%;margin:auto">
	<tr>
		<!-- Menu -->
		<td id="menu" width="30%">
			<table width="100%">
				<tr>
					<td>Event sequence to Execute:</td>
					<td><textarea id="events" style="display: block; width: 100%;"></textarea></td>
				</tr>
				<tr>
					<td></td>
					<td><button id="execute" class="btn btn-default" style="display: block; width: 100%;">Execute Events</button></td>
				</tr>
			</table>
		</td>
		<!-- Program Output -->
		<td id="output">
		</td>
	</tr>
</table>