<div id="container" style="width:80%;margin:auto">
	<div id="valid"></div>
	<table style="width:100%">
		<tr>
			<!-- Menu -->
			<td id="menu" width="30%">
				<table width="100%">
					<tr>
						<td>Gmail addresses to validate:</td>
						<td><textarea id="events" style="display: block; width: 100%;"></textarea></td>
					</tr>
					<tr>
						<td></td>
						<td><button id="execute" class="btn btn-default" style="display: block; width: 100%;">Validate</button></td>
					</tr>
				</table>
			</td>
			<!-- Program Output -->
			<td id="output">
			</td>
		</tr>
	</table>
</div>